* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
}

#hexGrid {
   
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  list-style-type: none;
   
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin:0 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}


/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
    
    nav li {
        left:20%;
    }
    
    #logo {
        left:45.1%;
    }
    
   .hexagon {
       left:10%;
    }
    
    #about {
        top:49%;
    }
    .profile {
        left:30%;
        width:60%;
    }
    
    .socmed {
        left:72.5%;
    }
    
    #contact {
        padding-left:20%;
        padding-right:20%;
        top:70%;
    }
    
    footer {
        position:relative;
        top:70%;
    }
    
    input[type=submit] {
        left:66.5%;
    }
    
    
    }   
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
    
    nav li {
        margin-right:30px;
        font-size:8px;
            left:15%;
    }
    
    #logo {
        left:43%;
        width:14%;
        top:3%;
        height:auto;
    }
    
    #about {
        height:550px;
        top:85%;
    }
    
     .hexagon {
      position: relative;
         left:37.5%;
         top:-3%;
      width: 100px; 
      height: 57.74px;
      margin: 28.87px 0;
      background-image: url(https://image.ibb.co/gPaj7d/smith_anderson.jpg);
      background-size: auto 115.4701px;
      background-position: center;
    }

    .hexTop,
    .hexBottom {
      position: absolute;
      z-index: 1;
      width: 70.71px;
      height: 70.71px;
      overflow: hidden;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background: inherit;
      left: 14.64px;
    }

    /*counter transform the bg image on the caps*/
    .hexTop:after,
    .hexBottom:after {
      content: "";
      position: absolute;
      width: 100.0000px;
      height: 57.73502691896258px;
      -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      background: inherit;
    }

    .hexTop {
      top: -35.3553px;
    }

    .hexTop:after {
      background-position: center top;
    }

    .hexBottom {
      bottom: -35.3553px;
    }

    .hexBottom:after {
      background-position: center bottom;
    }

    .hexagon:after {
      content: "";
      position: absolute;
      top: 0.0000px;
      left: 0;
      width: 100.0000px;
      height: 57.7350px;
      z-index: 2;
      background: inherit;
    }
    
    
    .profile {
        left:0%;
        top:-5%;
        width:100%;
        padding:20px 40px;
        text-align:center;
    }
    
    .profile h1,  #contact h1{
        font-size:90%;
    }
    
    .profile h2, #contact h2 {
        font-size:80%;
    }
    
    .socmed {
        top:-2%;
        left:28%;
    }
    
    #contact {
        padding-left:10%;
        padding-right:10%;
        padding-top:20%;
        top:115%;
        height:650px;
    }
    
    
    form {
        position:absolute;
        width:80%;
        display: block;
    }
    
    input[type=submit] {
        left:60.5%;
        width:40%;
        font-size:50%;
    }
    
    input[type=text], select, textarea {
        font-size:70%;
    }
    
     textarea {
        height:80px;
    }
    
    
    .info {
        left:0%;
        top:62%;
        width:100%;
    display:block;
    }
    
    
    footer {
        top:152%;
        }

}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
    
     nav li {
        margin-right:30px;
        font-size:8px;
            left:15%;
    }
    
    #logo {
        left:43%;
        width:14%;
        top:3%;
        height:auto;
    }
    
    #about {
        height:550px;
        top:85%;
    }
    
 .hexagon {
  position: relative;
     left:37.5%;
     top:-3%;
  width: 100px; 
  height: 57.74px;
  margin: 28.87px 0;
  background-image: url(https://image.ibb.co/gPaj7d/smith_anderson.jpg);
  background-size: auto 115.4701px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 70.71px;
  height: 70.71px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 14.64px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 100.0000px;
  height: 57.73502691896258px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -35.3553px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -35.3553px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 100.0000px;
  height: 57.7350px;
  z-index: 2;
  background: inherit;
}
    
    
    .profile {
        left:0%;
        top:-5%;
        width:100%;
        padding:20px 40px;
        text-align:center;
    }
    
    .profile h1,  #contact h1{
        font-size:90%;
    }
    
    .profile h2, #contact h2 {
        font-size:80%;
    }
    
    .socmed {
        top:-2%;
        left:28%;
    }
    
    #contact {
        padding-left:10%;
        padding-right:10%;
        padding-top:20%;
        top:115%;
        height:650px;
    }
    
    
    form {
        position:absolute;
        width:80%;
        display: block;
    }
    
    input[type=submit] {
        left:60.5%;
        width:40%;
        font-size:50%;
    }
    
    input[type=text], select, textarea {
        font-size:70%;
    }
    
     textarea {
        height:80px;
    }
    
    
    .info {
        left:0%;
        top:62%;
        width:100%;
        display:block;
    }

    footer {
        top:152%;
    }
        
    
}

}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
    
    nav li {
        margin-right:30px;
        font-size:8px;
            left:15%;
    }
    
    #logo {
        left:43%;
        width:14%;
        top:3%;
        height:auto;
    }
    
    #about {
        height:550px;
        top:85%;
    }
    
     .hexagon {
      position: relative;
         left:37.5%;
         top:-3%;
      width: 100px; 
      height: 57.74px;
      margin: 28.87px 0;
      background-image: url(https://image.ibb.co/gPaj7d/smith_anderson.jpg);
      background-size: auto 115.4701px;
      background-position: center;
    }

    .hexTop,
    .hexBottom {
      position: absolute;
      z-index: 1;
      width: 70.71px;
      height: 70.71px;
      overflow: hidden;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background: inherit;
      left: 14.64px;
    }

    /*counter transform the bg image on the caps*/
    .hexTop:after,
    .hexBottom:after {
      content: "";
      position: absolute;
      width: 100.0000px;
      height: 57.73502691896258px;
      -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      transform:          rotate(45deg) scaleY(1.7321) translateY(-28.8675px);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      background: inherit;
    }

    .hexTop {
      top: -35.3553px;
    }

    .hexTop:after {
      background-position: center top;
    }

    .hexBottom {
      bottom: -35.3553px;
    }

    .hexBottom:after {
      background-position: center bottom;
    }

    .hexagon:after {
      content: "";
      position: absolute;
      top: 0.0000px;
      left: 0;
      width: 100.0000px;
      height: 57.7350px;
      z-index: 2;
      background: inherit;
    }
    
    
    .profile {
        left:0%;
        top:-5%;
        width:100%;
        padding:20px 40px;
        text-align:center;
    }
    
    .profile h1,  #contact h1{
        font-size:90%;
    }
    
    .profile h2, #contact h2 {
        font-size:80%;
    }
    
    .socmed {
        top:-2%;
        left:28%;
    }
    
    #contact {
        padding-left:10%;
        padding-right:10%;
        padding-top:20%;
        top:115%;
        height:650px;
    }
    
    
    form {
        position:absolute;
        width:80%;
        display: block;
    }
    
    input[type=submit] {
        left:60.5%;
        width:40%;
        font-size:50%;
    }
    
    input[type=text], select, textarea {
        font-size:70%;
    }
    
     textarea {
        height:80px;
    }
    
    
    .info {
        left:0%;
        top:62%;
        width:100%;
    display:block;
    }
    
    
    footer {
        top:152%;
        }

}
